In [3]:
import pandas as pd
import numpy as np

In [100]:
df = pd.read_csv("./Indian_Earthquakes_List_Update_Magnitudes.csv",
                skiprows=13,
                encoding='latin1',
                names=["Year",
                      "Month",
                      "Date",
                      "Origin_Time_UTC",
                      "Origin_Time_IST",
                      "Magnitude_Mw_1",
                      "Magnitude_Mw",
                      "Magnitude_Mb_1",
                      "Magnitude_Mb_2",
                      "Magnitude_Ms",
                      "Magnitude_Ml",
                      "Latitude_N",
                      "Longitude_E",
                      "Depth_KM",
                      "Intensity_MM",
                      "Intensity_MMI",
                      "Intensity_MME",
                      "Location",
                      "Reference"],
                dtype={"Origin_Time_UTC": np.str,
                     "Origin_Time_IST": np.str,
                     #"Magnitude_Mw_1": np.float32,
                     #"Magnitude_Mw": np.float32,
                     #"Magnitude_Mb_1": np.float32,
                     #"Magnitude_Mb_2": np.float32,
                     #"Magnitude_Ms": np.float32,
                     #"Magnitude_Ml": np.float32,
                     #"Latitude_N": np.float32,
                     #"Longitude_E": np.float32,
                     #"Depth_KM": np.float32,
                     "Intensity_MM": np.str,
                     "Intensity_MMI": np.str,
                     "Intensity_MME": np.str,
                     "Location": np.str,
                     "Reference": np.str})
df.reset_index(inplace=True)
df.index.name = 'SN'
df["Month"].fillna(value=1, inplace=True)
df["Date"].fillna(value=1, inplace=True)
df["Year"] = df.Year.astype(np.int32)
df["Month"] = df["Month"].replace([' '], 1)
df["Month"] = df.Month.astype(np.int32)
df["Month"] = df["Month"].replace([0], 1)
df["Date"] = df.Date.astype(np.int32)
df["Date"] = df["Date"].replace([0], 1)
df['Latitude_N'] = df['Latitude_N'].map(lambda x: str(x).rstrip('NSEW? -'))
df['Longitude_E'] = df['Longitude_E'].map(lambda x: str(x).rstrip('NSEW? -'))
df['Latitude_N'] = df['Latitude_N'].replace('\u00b0','', regex=True)     #to remove the degree symbol
df['Longitude_E'] = df['Longitude_E'].replace('\u00b0','', regex=True)
df['Latitude_N'] = df['Latitude_N'].replace(',','',regex=True)
df['Longitude_E'] = df['Longitude_E'].replace(',','',regex=True)
df.drop(df.index[df["Magnitude_Mw"] == "#VALUE!"], inplace=True)
df["Magnitude_Mw"] = df.Magnitude_Mw.astype(np.float32)
df.drop(["index", "Origin_Time_UTC", "Origin_Time_IST", "Magnitude_Mw_1", "Magnitude_Mb_1", "Magnitude_Mb_2", "Magnitude_Ms", "Magnitude_Ml", "Intensity_MM", "Intensity_MMI", "Intensity_MME", "Location"], inplace=True, axis=1)
print(df.shape)
df.head(20)

/home/shraddha/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (2,7,9,10,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(52984, 8)

    Year  Month  Date  Magnitude_Mw Latitude_N Longitude_E  Depth_KM Reference
SN
0     25      1     1        7.5000       72.9       33.72       0.0   Dr STGR
1     26      5    10        6.1397       17.3        80.1       NaN      NEIC
2     26      5    10        6.1397       26.0        97.0      80.0       G-R
3     50      1     1        7.0000       69.5        37.1       0.0   Dr STGR
4    110      1     1        6.5000      76.47        18.1       0.0   Dr STGR
5    250      1     1        8.5000       74.5        34.6       0.0   Dr STGR
6    260      1     1        8.0000       77.2        30.5       0.0   Dr STGR
7    819      6     1        7.3000       65.4        36.4       0.0   Dr STGR
8    825      1     1        8.0000       91.8        26.1       0.0   Dr STGR
9    849      1     1        5.6000       62.2        34.3       0.0   Dr STGR
10   894      1     1        7.7000       67.8        24.8       0.0   Dr STGR
11   980      1     1        7.6000       68.9       26.93       0.0   Dr STGR
12  1053      1     1        7.0000      69.13       32.85       0.0   Dr STGR
13  1063     12     5           NaN       19.1        73.2       NaN      NEIC
14  1100      1     1        8.5000       85.0        27.5       0.0   Dr STGR
15  1102      2    28        5.6000       62.2        34.4       0.0   Dr STGR
16  1294      1     1        7.5000       77.2        30.5       0.0   Dr STGR
17  1330      1     1        7.6000       68.0        24.1       0.0   Dr STGR
18  1364      2    10        5.9000       61.7        34.9       0.0   Dr STGR
19  1411      9    29        7.7000       90.2        30.0       0.0   Dr STGR

In [101]:
timestamps = []
for index, row in df.iterrows():
    s = ""
    if row.Year < 0:
        s += "-"
        for i in range(5 - len(str(row.Year))):
            s += "0"
        s += str(row.Year)[1:]
    else:
        for i in range(4 - len(str(row.Year))):
            s += "0"
        s += str(row.Year)
    if row.Month < 10:
        s += "0"
    s += str(row.Month)
    if row.Date < 10:
        s += "0"
    s += str(row.Date)
    timestamps += [pd.to_datetime(s, format='%Y%m%d', errors='ignore')]
df["Timestamp"] = timestamps
df.head()

,Year,Month,Date,Magnitude_Mw,Latitude_N,Longitude_E,Depth_KM,Reference,Timestamp
SN,,,,,,,,,
0,25,1,1,7.5000,72.9,33.72,0.0,Dr STGR,0025-01-01 00:00:00
1,26,5,10,6.1397,17.3,80.1,NaN,NEIC,0026-05-10 00:00:00
2,26,5,10,6.1397,26.0,97.0,80.0,G-R,0026-05-10 00:00:00
3,50,1,1,7.0000,69.5,37.1,0.0,Dr STGR,0050-01-01 00:00:00
4,110,1,1,6.5000,76.47,18.1,0.0,Dr STGR,0110-01-01 00:00:00

In [102]:
df.drop(["Year", "Month", "Date"], inplace=True, axis=1)
df.head()

,Magnitude_Mw,Latitude_N,Longitude_E,Depth_KM,Reference,Timestamp
SN,,,,,,
0,7.5000,72.9,33.72,0.0,Dr STGR,0025-01-01 00:00:00
1,6.1397,17.3,80.1,NaN,NEIC,0026-05-10 00:00:00
2,6.1397,26.0,97.0,80.0,G-R,0026-05-10 00:00:00
3,7.0000,69.5,37.1,0.0,Dr STGR,0050-01-01 00:00:00
4,6.5000,76.47,18.1,0.0,Dr STGR,0110-01-01 00:00:00

In [103]:
df.dropna(how='any', inplace=True)
df.shape

(47641, 6)

In [104]:
df.tail(20)

,Magnitude_Mw,Latitude_N,Longitude_E,Depth_KM,Reference,Timestamp
SN,,,,,,
51385,2.9,22.7,77.5,10.0,IMD,2012-10-30 00:00:00
51386,3.5,25.8,71.2,10.0,IMD,2012-10-30 00:00:00
51387,4.1,32.3,76.2,5.0,IMD,2012-11-06 00:00:00
51388,4.3,36.9,73.5,10.0,IMD,2012-11-09 00:00:00
51389,6.7,23.0,95.9,10.0,IMD,2012-11-11 00:00:00
51390,4.0,32.3,76.2,5.0,IMD,2012-11-11 00:00:00
51391,2.5,30.7,78.5,5.0,IMD,2012-11-12 00:00:00
51392,3.5,23.3,91.5,10.0,IMD,2012-11-14 00:00:00
51393,3.0,30.2,80.1,5.0,IMD,2012-11-15 00:00:00
51394,3.5,28.0,93.2,5.0,IMD,2012-11-16 00:00:00
51395,3.5,28.7,76.6,5.0,IMD,2012-11-19 00:00:00
51396,5.0,23.0,96.0,10.0,IMD,2012-11-19 00:00:00
51397,3.3,22.1,75.6,28.0,IMD,2012-11-20 00:00:00
51398,4.2,23.7,91.5,15.0,IMD,2012-11-25 00:00:00
51399,2.8,30.3,80.0,5.0,IMD,2012-11-26 00:00:00
51400,4.8,30.9,78.4,12.0,IMD,2012-11-27 00:00:00
51401,3.3,11.9,77.9,15.0,IMD,2012-11-28 00:00:00
51402,4.7,25.9,95.7,10.0,IMD,2012-11-30 00:00:00
51403,3.5,24.5,94.4,6.0,IMD,2012-11-30 00:00:00
51404,4.1,27.3,88.3,10.0,IMD,2012-11-30 00:00:00

In [105]:
X_features=["Latitude_N","Longitude_E", "Depth_KM","Reference",]
X=df[X_features]
Y=df["Magnitude_Mw"]

print(X.head())
print(Y.head())

   Latitude_N Longitude_E  Depth_KM Reference
SN
0        72.9       33.72       0.0   Dr STGR
2        26.0        97.0      80.0       G-R
3        69.5        37.1       0.0   Dr STGR
4       76.47        18.1       0.0   Dr STGR
5        74.5        34.6       0.0   Dr STGR
SN
0    7.5000
2    6.1397
3    7.0000
4    6.5000
5    8.5000
Name: Magnitude_Mw, dtype: float32

In [106]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(X,Y,test_size=0.2)

In [107]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error


neighbour_cnt=[1,5,9,11,13,31,43,79,107]
for i in neighbour_cnt:
    KNN_model= KNeighborsRegressor(n_neighbors=i)
    KNN_model.fit(train_x,train_y)
    pred_y=KNN_model.predict(test_x)
    mea=mean_absolute_error(pred_y,test_y)
    print("For ",i," neighbours, mean absolute error is ",mea)

ValueError: could not convert string to float: 'NEIC / USGS'